mws/src/main/resources/orders.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AmazonEnvelope" type="AmazonEnvelopeType"/>
  <xs:complexType name="FulfillmentDataType">
    <xs:sequence>
      <xs:element type="xs:string" name="FulfillmentChannel"/>
      <xs:element type="xs:string" name="ShipServiceLevel"/>
      <xs:element type="AddressType" name="Address"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrderType">
    <xs:sequence>
      <xs:element type="xs:string" name="AmazonOrderID"/>
      <xs:element type="xs:string" name="MerchantOrderID" minOccurs="0"/>
      <xs:element type="xs:dateTime" name="PurchaseDate"/>
      <xs:element type="xs:dateTime" name="LastUpdatedDate"/>
      <xs:element type="xs:string" name="OrderStatus"/>
      <xs:element type="xs:string" name="SalesChannel"/>
      <xs:element type="FulfillmentDataType" name="FulfillmentData"/>
      <xs:element type="OrderItemType" name="OrderItem" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemPriceType">
    <xs:sequence>
      <xs:element type="ComponentType" name="Component" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ComponentType">
    <xs:sequence>
      <xs:element type="xs:string" name="Type"/>
      <xs:element type="AmountType" name="Amount"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AddressType">
    <xs:sequence>
      <xs:element type="xs:string" name="City"/>
      <xs:element type="xs:string" name="State" minOccurs="0"/>
      <xs:element type="xs:string" name="PostalCode"/>
      <xs:element type="xs:string" name="Country"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrderItemType">
    <xs:sequence>
      <xs:element type="xs:string" name="ASIN"/>
      <xs:element type="xs:string" name="SKU"/>
      <xs:element type="xs:string" name="ItemStatus" minOccurs="0"/>
      <xs:element type="xs:string" name="ProductName"/>
      <xs:element type="xs:int" name="Quantity"/>
      <xs:element type="ItemPriceType" name="ItemPrice" minOccurs="0"/>
      <xs:element type="PromotionType" name="Promotion" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PromotionType">
    <xs:sequence>
      <xs:element type="xs:string" name="PromotionIDs"/>
      <xs:element type="xs:float" name="ItemPromotionDiscount" minOccurs="0"/>
      <xs:element type="xs:float" name="ShipPromotionDiscount" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessageType">
    <xs:sequence>
      <xs:element type="OrderType" name="Order"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AmazonEnvelopeType">
    <xs:sequence>
      <xs:element type="HeaderType" name="Header"/>
      <xs:element type="xs:string" name="MessageType"/>
      <xs:element type="MessageType" name="Message" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AmountType">
    <xs:simpleContent>
      <xs:extension base="xs:float">
        <xs:attribute type="xs:string" name="currency" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="HeaderType">
    <xs:sequence>
      <xs:element type="xs:float" name="DocumentVersion"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>