mws/src/main/resources/payment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AmazonEnvelope" type="AmazonEnvelopeType"/>
  <xs:complexType name="SettlementReportType">
    <xs:sequence>
      <xs:element type="SettlementDataType" name="SettlementData"/>
      <xs:element type="OrderType" name="Order" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="AdjustmentType" name="Adjustment" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="OtherTransactionType" name="OtherTransaction" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TotalAmountType">
    <xs:simpleContent>
      <xs:extension base="xs:float">
        <xs:attribute type="xs:string" name="currency"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ItemFeesType">
    <xs:sequence>
      <xs:element type="FeeType" name="Fee" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemPriceType">
    <xs:sequence>
      <xs:element type="ComponentType" name="Component" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ComponentType">
    <xs:sequence>
      <xs:element type="xs:string" name="Type"/>
      <xs:element type="AmountType" name="Amount"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FeeType">
    <xs:sequence>
      <xs:element type="xs:string" name="Type"/>
      <xs:element type="AmountType" name="Amount"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AmazonEnvelopeType">
    <xs:sequence>
      <xs:element type="HeaderType" name="Header"/>
      <xs:element type="xs:string" name="MessageType"/>
      <xs:element type="MessageType" name="Message"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HeaderType">
    <xs:sequence>
      <xs:element type="xs:float" name="DocumentVersion"/>
      <xs:element type="xs:string" name="MerchantIdentifier"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AmountType">
    <xs:simpleContent>
      <xs:extension base="xs:float">
        <xs:attribute type="xs:string" name="currency" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ItemPriceAdjustmentsType">
    <xs:sequence>
      <xs:element type="ComponentType" name="Component"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemFeeAdjustmentsType">
    <xs:sequence>
      <xs:element type="FeeType" name="Fee" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SettlementDataType">
    <xs:sequence>
      <xs:element type="xs:long" name="AmazonSettlementID"/>
      <xs:element type="TotalAmountType" name="TotalAmount"/>
      <xs:element type="xs:dateTime" name="StartDate"/>
      <xs:element type="xs:dateTime" name="EndDate"/>
      <xs:element type="xs:dateTime" name="DepositDate"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemType">
    <xs:sequence>
      <xs:element type="xs:long" name="AmazonOrderItemCode"/>
      <xs:element type="xs:string" name="SKU"/>
      <xs:element type="xs:byte" name="Quantity"/>
      <xs:element type="ItemPriceType" name="ItemPrice"/>
      <xs:element type="ItemFeesType" name="ItemFees"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AdjustmentType">
    <xs:sequence>
      <xs:element type="xs:string" name="AmazonOrderID"/>
      <xs:element type="xs:string" name="MerchantOrderID"/>
      <xs:element type="xs:string" name="AdjustmentID"/>
      <xs:element type="xs:string" name="MarketplaceName"/>
      <xs:element type="FulfillmentType" name="Fulfillment"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AdjustedItemType">
    <xs:sequence>
      <xs:element type="xs:long" name="AmazonOrderItemCode"/>
      <xs:element type="xs:long" name="MerchantAdjustmentItemID"/>
      <xs:element type="xs:string" name="SKU"/>
      <xs:element type="ItemPriceAdjustmentsType" name="ItemPriceAdjustments"/>
      <xs:element type="ItemFeeAdjustmentsType" name="ItemFeeAdjustments"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrderType">
    <xs:sequence>
      <xs:element type="xs:string" name="AmazonOrderID"/>
      <xs:element type="xs:string" name="MerchantOrderID" minOccurs="0"/>
      <xs:element type="xs:string" name="ShipmentID"/>
      <xs:element type="xs:string" name="MarketplaceName"/>
      <xs:element type="FulfillmentType" name="Fulfillment"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FulfillmentType">
    <xs:sequence>
      <xs:element type="xs:string" name="MerchantFulfillmentID"/>
      <xs:element type="xs:dateTime" name="PostedDate"/>
      <xs:element type="ItemType" name="Item" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="AdjustedItemType" name="AdjustedItem" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OtherTransactionType">
    <xs:sequence>
      <xs:element type="xs:string" name="AmazonOrderID" minOccurs="0"/>
      <xs:element type="xs:string" name="TransactionType"/>
      <xs:element type="xs:dateTime" name="PostedDate"/>
      <xs:element type="AmountType" name="Amount"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessageType">
    <xs:sequence>
      <xs:element type="xs:byte" name="MessageID"/>
      <xs:element type="SettlementReportType" name="SettlementReport"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>